.App {
  display: flex;
  flex-direction: column;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}
